@model OtelProject.Models.AdminOtelEditViewModel
@{
    ViewBag.Title = "Otel Düzenle " + @TempData["username"];
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <span class="display-4">Otel Düzenle</span>
            <hr />
            @using (Html.BeginForm("OtelEdit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="input-group mb-3">
                    <span class="input-group-text" id="id">Otel Id</span>
                    @Html.TextAreaFor(x => x.Otel.OtelsId, new { @class = "form-control text", disabled = "true" })
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="name">Otel Adı</span>
                    @Html.TextBoxFor(x => x.Otel.OtelName, new { @class = "form-control text" })

                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="location">Otel Lokasyonu</span>
                    @Html.TextBoxFor(x => x.Otel.OtelLocation, new { @class = "form-control text" })
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price">Otel Fiyatı</span>
                    @Html.TextBoxFor(x => x.Otel.OtelPrice, new { @class = "form-control text" })
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="description">Otel Açıklaması</span>
                    @Html.TextBoxFor(x => x.Otel.OtelDescription, new { @class = "form-control text" })
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="star">Otel Yıldızı</span>
                    @Html.TextBoxFor(x => x.Otel.OtelStars, new { @class = "form-control text" })
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="rating">Otel Puanlaması</span>
                    @Html.TextBoxFor(x => x.Otel.OtelRating, new { @class = "form-control text" })
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="countries">Otel Şehri</span>
                    @Html.DropDownListFor(x => x.Otel.OtelCountry, Model.Countries.Select(c =>
                                new SelectListItem { Value = c.CountryId.ToString(), Text = c.CountryName }), new { @class = "form-control" })
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="picture">Otel Resmi</span>
                    <input type="file" accept="image/*" placeholder="Resim Boş bırakılırsa default resim seçilecektir." name="picture" id="picture" class="form-control text" aria-label="Username" aria-describedby="picture">
                    @*@Html.TextBoxFor(a => a.OtelName, new { @class = "form-control text", type = "file", accept = "image/*", name = "picture" })*@
                </div>
                <div class="input-group mb-3">
                    <input type="submit" value="Güncelle" name="btnSubmit" id="btnSubmit" class="form-control btn btn-primary" aria-label="Username" aria-describedby="btn">
                </div>
            }
        </div>
    </div>
</div>



