@model OtelProject.Models.OtelUserEditViewModel
@{
    ViewBag.Title = "Otelinizi Düzenleyin";
    Layout = "~/Views/Shared/_LayoutOtelUserPanel.cshtml";
}


<span class="display-4">Otelinizi Düzenleyin</span>
<hr />
@using (Html.BeginForm("OtelUserEdit", "OtelUsers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="input-group mb-3">
        <span class="input-group-text" id="id">Otel Id</span>
        @Html.TextBoxFor(x => x.Otel.OtelsId, new { @class = "form-control", disabled = "true" })
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="name">Otel Adı</span>
        @Html.TextBoxFor(x => x.Otel.OtelName, new { @class = "form-control text" })
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="location">Otel Lokasyonu</span>
        @Html.TextBoxFor(x => x.Otel.OtelLocation, new { @class = "form-control text" })
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="price">Otel Fiyatı</span>
        @Html.TextBoxFor(x => x.Otel.OtelPrice, new { @class = "form-control text" })
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="description">Otel Açıklaması</span>
        @Html.TextBoxFor(x => x.Otel.OtelDescription, new { @class = "form-control text" })
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="star">Otel Yıldızı</span>
        @Html.TextBoxFor(x => x.Otel.OtelStars, new { @class = "form-control text" })
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="rating">Otel Puanlaması</span>
        @Html.TextBoxFor(x => x.Otel.OtelRating, new { @class = "form-control text" })
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="countries">Otel Şehri</span>
        @Html.DropDownListFor(x => x.Otel.OtelCountry, Model.Countries.Select(c =>
                                new SelectListItem { Value = c.CountryId.ToString(), Text = c.CountryName }), new { @class = "form-control" })
        @*<select id="countries" name="OtelCountry" value="@Model.Otel.OtelCountry" class="form-select form-select-lg" aria-label="Default select example">
            <option value="@ViewData["OtelCountry"]" selected>@ViewData["CountryName"]</option>
            @foreach (var country in Model.Countries)
            {
                <option value="@country.CountryId">@country.CountryName</option>
            }
            </select>*@
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="picture">Otel Resmi</span>
        <input type="file" accept="image/*" placeholder="Resim Boş bırakılırsa default resim seçilecektir." name="picture" id="picture" class="form-control text" aria-label="Username" aria-describedby="picture">
        @*@Html.TextBoxFor(a => a.OtelName, new { @class = "form-control text", type = "file", accept = "image/*", name = "picture" })*@
    </div>
    <div class="input-group mb-3">
        <input type="submit" value="Güncelle" name="btnSubmit" id="btnSubmit" class="form-control btn btn-primary" aria-label="Username" aria-describedby="btn">
        @Html.ActionLink("Sil", "OtelDelete", "OtelUsers", new { id = Model.Otel.OtelsId }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinizden eminmisiniz?')" })
    </div>
}




