@model OtelProject.Models.Tables.OtelCountry
@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="carouselContainerI">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../wwwroot/pictures/slider1.jpg" class="d-block w-100 imgI" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>BulBiOtel</h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../wwwroot/pictures/slider2.jpg" class="d-block w-100 imgI" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>BulBiOtel</h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../wwwroot/pictures/slider3.jpg" class="d-block w-100 imgI" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>BulBiOtel</h5>
                    <p></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<span id="upper"></span>

<div class="mainContainer">
    <div class="filterCard">
        <div class="searchTitle">
            <h3 class="display-3">Hemen size uygun oteli aramaya başlayın.</h3> <h4>Toplamda <span class="count">@ViewBag.count</span> Otel</h4>
        </div>
        <hr class="width-90" />
        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @id = "form" }))
        {
            <div class="alert alert-danger" role="alert">
                A simple danger alert—check it out!
            </div>
            <div class="countryDiv border">
                <label class="form-label" for="countries">Şehir Seçiniz</label>
                <hr class="cizgi" />

                <select id="countries" name="countries" class="form-select form-select-lg" aria-label="Default select example">
                    <option value="0" selected>...</option>
                    @foreach (var itemC in Model.Countries)
                    {
                        <option value="@itemC.CountryId">@itemC.CountryName</option>
                    }
                </select>
            </div>
            <div class="searchString border">
                <label class="form-label" for="searchString">Otel Adı Arayınız</label>
                <hr class="cizgi" />
                @Html.TextBox("searchString", "", new { @class = "form-control", @id = "searchString" })
            </div>
            <div class="priceRange border">
                <label class="" for="">Fiyat Aralığı Giriniz</label><br />
                <hr class="cizgi" />
                <div class="priceAlt">
                    <label class="" for="pricemin">Minimum Fiyat</label>
                    @Html.TextBox("pricemin", "", new { @class = "form-control", @Style = "width:80px;", @id = "pricemin" })
                </div>
                <div class="verticalHover pricePosition"></div>
                <div class="priceAlt">
                    <label class="" for="pricemax">Maximum Fiyat</label>
                    @Html.TextBox("pricemax", "", new { @class = "form-control", @Style = "width:80px;", @id = "pricemax" })
                </div>
            </div>
            <div class="middle">
                <button id="" type="submit" class="btn btn-primary btn-submit">Ara</button>
            </div>
        }



        @Html.ActionLink("Tüm Otelleri Göster","Index",new { },new { @class= "middle-right btn btn-warning" })
    </div>
    <div class="otelsCard">
        @foreach (var item in Model.Otels)
        {
            <div class="card">
                <div class="card-image">
                    <img src="@item.OtelPicture" class="image" alt="@item.OtelName">
                </div>
                <div class="card-properties ">
                    <div class="card-body">
                        <span class="card-title display-4">@item.OtelName</span>
                        <span class="location">@item.OtelLocation</span>
                        <span class="rating">@item.OtelRating</span>
                        <span class="descriptions">@item.OtelDescription</span>
                        <span class="price">@item.OtelPrice <i class="fas fa-lira-sign"></i></span>
                        @{
                            if (item.OtelStars == 5)
                            {
                                <span class="otelStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>

                            }
                            else if (item.OtelStars == 4)
                            {
                                <span class="otelStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span>

                            }
                            else if (item.OtelStars == 3)
                            {
                                <span class="otelStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>

                            }
                            else if (item.OtelStars == 2)
                            {
                                <span class="otelStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>

                            }
                            else if (item.OtelStars == 1)
                            {
                                <span class="otelStars"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>

                            }
                            else
                            {
                                <span class="otelStars"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span>

                            }

                        }
                    </div>
                </div>
            </div>
         }

    </div>
</div>

    <a class="upperBTN" href="#upper"><i class="fas fa-chevron-circle-up fa-4x"></i></a>

<script>

    //elements
    var form = document.forms["form"];
    var searchString = document.querySelector("#searchString");
    var countries = document.querySelector("#countries");
    var pricemin = document.querySelector("#pricemin");
    var pricemax = document.querySelector("#pricemax");
    var alert = document.querySelector(".alert");
    var btnUpper = document.querySelector(".upperBTN");

    //Forms settings
    alert.style.display = "none";
    alert.innerHTML = "";
    form.onsubmit = function () {
        if (searchString.value == "" && countries.value == "0" && pricemin.value == "" && pricemax.value=="") {
            
            alert.innerHTML = "Arama için en az bir bölümü doldurmalısınız.";
            alert.style.display = "block";
            return false;
        }
        else if (pricemin.value > pricemax.value) {
            alert.innerHTML = "Minimum değer Maximum Değerden büyük olamaz.";
            alert.style.display = "block";
            return false;
        }
        else {
            return true;
        }
    }

    //Scroll settings
    btnUpper.style.display = "none";
    document.documentElement.scrollTop = 719;
    window.onscroll = function () {
        if (document.documentElement.scrollTop > 800) {

            btnUpper.style.display = "block";
        } else {
            btnUpper.style.display = "none";
        }
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>